@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("fontawesome-all.min.css");


h1 {
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #272F22;
}

h2 {
    font-size:35px;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#5C6449
}

h3 {
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #CFD6DE;
}

p {
    font-size: 16px;
    color: #272F22;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #271C1C;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #CFD6DE;
}

.intro-icon {
    background-color: None
    text-align: left
}

.card-link {
    color: #272F22;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.feature {
    background-color: #797A6D;
    opacity: 0.94;
}

.offleft {
    margin-left: -9000px;
    position: absolute;
}

#mainNav {
  background-color: #272F22;
}

#mainFoot {
  background-color: #272F22;
}

#foot-bar {
  background-color: #272F22;
}

#name-card {
    background-color: #5C6449;
    opacity: 0.94;
}

.form-label{
    font-size: 16px;
    color: #272F22;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    color: #CFD6DE;
    background-color: #9BA473;
    border: None;
    hover-color: #5C6449;
}

.button {
  color: #797A6D;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #fff;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: #B2D3BE;
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #9BA473; /*set the color you want here*/
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: None;
    --bs-btn-hover-color: #CFD6DE;
    --bs-btn-hover-bg: #5C6449;
    --bs-btn-hover-border-color: None;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.footer-col {
}