{% extends "base.html" %}

<!-- Page Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sierra Flores - About{% endblock %}</title>

    {% block styles %}
        .left-margin {
            background-color: #797A6D;
            opacity: 0.8;
        }

        .right-margin {
            background-color: #797A6D;
            opacity: 0.8;
        }

        body {
            background-color: #CFD6DE;
        }

        a {
            font-size: 17px;
            color: #CFD6DE;
            text-decoration: none;
            font-family: "Hedvig Letters Serif", serif;
            font-optical-sizing: auto;
            font-weight: 400;
        }

        #aboutbutton {
            {% include "button_format.txt" %}
        }

        h3 {
            color: #797A6D;
            font-size: 25px;
        }

    {% endblock %}

</head>
<body>

    {% block margin %}
    <div class="sticky-top col-12 mt-2 pt-4">
        <div class="row mb-2">
            <a href="#overview"  style="font-style: italic">Overview</a>
        </div>
        <div class="row mb-2">
            <a href="#education"  style="font-style: italic">Education</a>
        </div>
        <div class="row mb-2">
            <a href="#work"  style="font-style: italic">Work History</a>
        </div>
        <div class="row mb-2">
            <a href="#skills"  style="font-style: italic">Software & Skills</a>
        </div>
        <div class="row mb-2">
            <a href="#research"  style="font-style: italic">Undergraduate Research</a>
        </div>
        <div class="row mb-2">
            <a href="#hobbies"  style="font-style: italic">Hobbies & Interests</a>
        </div>
        <div class="row mb-2">
            <a href="#funfacts"  style="font-style: italic">Fun Facts</a>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <!-- Main Title -->
    <div class="col mx-5">
        <div class="row mb-4">
            <h1>About</h1>
        </div>

        <!-- Overview Section -->
        <div class="row mb-4" id="overview">
            <div class="col-7">
                <h2>Nice to meet you - I'm Sierra</h2>
                <p>I currently live in Dallas, Texas with my husband, Jesse.</p>
                <p>I've been working in biotech for over 5 years, and have done everything from benchtop research to building project and data management systems.</p>
                <p class="mb-1">I'm looking for remote or Dallas-based roles. I love startups, biotech, and genome engineering, and am passionate about data integrity and documentation.</p>
            </div>
            <div class="col-5 justify-content-center">
                <img src="{{url_for('static', filename='assets/images/jesse_and_sierra.jpeg')}}" class="img-fluid" alt="Jesse and Sierra on a bridge in front of the vibrantly blue Kawarau River." style="width:100%">
            </div>
        </div>

        <div class="row mb-4" id="education">
            <div class="col-12">
                <h2>Education</h2>

                <h3 class="mb-1">B.S. Biological Engineering</h3>
                <h4>Utah State University | May 2021</h4>
                <p class="mb-1">Emphasis in Synthetic Biology | Minor in Entrepreneurship | Undergraduate Research Fellow</p>
                <p>Graduated summa cum laude, with Honors<span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true"
                                   data-bs-original-title="Completed all Honors program requirements, including an Honors capstone project focused on Project Management">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span>
                    | 3.97 GPA</p>

                <h3 class="mb-1">Engineer in Training (EIT) Certification</h3>
                <h4 class="mb-4">Fundamentals of Engineering Exam - Other Disciplines | September 2020</h4>

                <h3 class="mb-1">Certified SolidWorks Associate (CSWA)</h3>
                <h4 class="mb-4">SolidWorks CAD Design Associate Exam | October 2018</h4>
            </div>
        </div>

        <div class="row mb-4" id="work">
            <div class="col-12">
                <h2>Work History</h2>
                    <h3>Sound Agriculture (Startup) | June 2021 - April 2024</h3>
                        <h4>Process Engineer | July 2022 - April 2024</h4>
                        <div class="px-4 mb-4">
                        <ul>
                            <li>Led the scale-up of research operations from 5 to 40+ concurrent experiments by working with Research leadership to monitor workflow capacity, identify process inefficiencies, and optimize team member contributions.</li>
                            <li>Enhanced communication and project status tracking by designing and implementing a Smartsheet- and Asana-based project management system.</li>
                            <li>Standardized experiment data collection across 250+ experiments by creating Google Sheets templates and, later, customizing and onboarding a new Electronic Lab Notebook and Lab Information Management System.</li>
                            <li>Onboarded 30+ current and new Research employees to new project and data management systems, including creating onboarding presentations and writing technical documents to standardize department operations.</li>
                            <li>Worked fully remotely to standardize and enhance Sound's Research operations, including soil adjuvant development and crop epigenetic modification.</li>
                            <li>Role was eliminated due to a company-wide restructure (not performance-based). <a class="card-link" href="{{url_for('static', filename='/assets/LOR_Sierra_Flores.pdf')}}" target='_blank' style="font-size:16px"><u>Letter of Recommendation from manager</u></a></li>
                        </ul>
                        </div>
                        <h4>Research Associate | June 2021 - July 2022</h4>
                        <div class="px-4 mb-2">
                        <ul>
                            <li>Altered trait expression in 7+ crop types by designing and executing experiments independently, with Sound's internal research team, and with 3+ external partners.</li>
                            <li>Reduced RNA sample loss by up to 75% across 10+ sample types by improving sample preparation for Sound's molecular screening pipeline, including rewriting Sound's RNA Quantification protocol and working with the lab automation team to improve Tecan Fluent performance.</li>
                            <li>Presented experiment results to all company departments, company leadership, and external partners.</li>
                            <li>Helped to create a collection of 30+ unique Arabidopsis mutants by breeding, extracting DNA from, and genotyping thousands of plants.</li>
                        </ul>
                        </div>
                    <div class="row mb-4">
                        <div class="col-4 d-flex justify-content-end">
                            <img src="{{url_for('static', filename='assets/images/cotyledons.jpg')}}" style="width:90%" alt="A grid of small plant sprouts on a square agar plate">
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <img src="{{url_for('static', filename='assets/images/gel.jpg')}}" style="width:90%; filter:saturate(70%)" alt="Glowing DNA bands on an agarose gel">
                        </div>
                        <div class="col-4 d-flex justify-content-start">
                            <img src="{{url_for('static', filename='assets/images/tomatoes.jpg')}}" style="width:90%" alt="Trays of green plants bearing bright red cherry tomatoes in a well-lit greenhouse">
                        </div>
                    </div>
                    <h3>Quansys Biosciences | February 2019 - May 2021</h3>
                        <h4>Research and Development Technician</h4>
                        <div class="px-4 mb-4">
                        <ul>
                            <li>Developed 12+ multiplexed Enzyme-Linked Immunosorbent Assays (ELISAs) for 6+ customers.</li>
                            <li>Validated performance of up to 13 biomarkers per assay against internal QC standards and customer requirements.</li>
                            <li>Achieved 2 successful company audits within 2 years by helping implement and train staff on a new Quality Management System for SOP version control, ensuring compliance with ISO 13485 and ISO 9001 standards.</li>
                        </ul>
                        </div>
            </div>
        </div>

        <div class="row mb-4 " id="skills">
            <div class="col-12">
                <h2>Software & Skills</h2>
                <div class="ps-2">
                    <h3>Project Management & Collaboration</h3>
                        <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-3 ps-3">
                        <ul class="mb-4">
                            <li>Smartsheet</li>
                            <li>Asana</li>
                            <li>LucidChart</li>
                            <li>Sharepoint</li>
                        </ul>
                        </div>
                        <div class="col-5 pe-0">
                        <ul class="mb-4">
                            <li>Technical Documentation</li>
                            <li>Agile Methodology</li>
                            <li>Design-Build-Test-Learn (DBTL) Cycle</li>
                            <li>Resource Allocation</li>
                        </ul>
                        </div>
                        <div class="col-4 pe-2">
                        <ul class="mb-4">
                            <li>Google Workspace</li>
                            <li>Microsoft Office</li>
                            <li>Microsoft Teams</li>
                            <li>Slack</li>
                        </ul>
                        </div>
                        </div>
                    <h3>Data Science & Scripting</h3>
                        <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-3 ps-3">
                        <ul class="mb-4">
                            <li>Git & Github</li>
                            <li>Basic R</li>
                            <li>Basic SQL</li>
                        </ul>
                        </div>
                        <div class="col-5 pe-0">
                        <ul class="mb-4">
                            <li>Python Scripting
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true" class="my-0"
                                   data-bs-original-title="APIs<br>Flask<br>BeautifulSoup<br>Selenium<br>SQLAlchemy<br>SQLite">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                            <li>Python Notebooks
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true"
                                   data-bs-original-title="Google Colab<br>Jupyter">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                            <li>Python for Data Analysis
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true"
                                   data-bs-original-title="Pandas<br>NumPy<br>Matplotlib<br>SciPy<br>Plotly<br>Scikit-learn<br>Seaborn">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                            <li>Advanced Excel and Google Sheets
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true"
                                   data-bs-original-title="vlookup<br>query<br>index<br>Macros<br>Google Apps Script<br>Pivot Tables">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                        </ul>
                        </div>
                        <div class="col-4 pe-2">
                        <ul class="mb-4">
                            <li>GraphPad Prism</li>
                            <li>JMP</li>
                            <li>Basic AWS</li>
                        </ul>
                        </div>
                        </div>
                    <h3>Lab & Instrumentation</h3>
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-3 ps-3">
                        <ul class="mb-4">
                            <li>Aseptic Technique</li>
                            <li>Microscopy</li>
                            <li>Genotyping</li>
                            <li>PCR</li>
                            <li>qPCR</li>
                            <li>Lyophilization</li>
                        </ul>
                        </div>
                        <div class="col-5 pe-0">
                        <ul class="mb-4">
                            <li>Assay Development & QC</li>
                            <li>DNA/RNA Extraction</li>
                            <li>DNA/RNA Quantification</li>
                            <li>Electronic Lab Notebooks</li>
                            <li>Lab Information Management Systems</li>
                            <li>Enzyme-Linked Immunosorbent Assays (ELISAs)</li>
                        </ul>
                        </div>
                        <div class="col-4 pe-2">
                        <ul class="mb-4">
                            <li>Bacterial Culture</li>
                            <li>Liquid Nitrogen Handling</li>
                            <li>Gel Electrophoresis</li>
                            <li>Library Preparation</li>
                            <li>Tecan Automation</li>
                            <li>Plant Germination and Growth</li>
                        </ul>
                        </div>
                        </div>
                    <h3>Other</h3>
                        <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-3 ps-3">
                        <ul class="mb-4">
                            <li>ISO Compliance
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true" class="my-0"
                                   data-bs-original-title="ISO 13485<br>ISO 9001">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                        </ul>
                        </div>
                        <div class="col-5 pe-0">
                        <ul class="mb-4">
                            <li>Web Development
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true" class="my-0"
                                   data-bs-original-title="HTML<br>CSS<br>Basic JavaScript">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span>
                                <a href="{{ url_for('info') }}" style='font-size: 16px; color: #272F22; font-family: "Poppins", sans-serif; font-weight: 400; font-style: normal; text-decoration:underline'>(About this website)</a>
                            </li>
                        </ul>
                        </div>
                        <div class="col-4 pe-2">
                        <ul class="mb-4">
                            <li>SolidWorks</li>
                        </ul>
                        </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="row mb-4" id="research">
            <div class="col-12">
                <h2>Undergraduate Research</h2>
                <h3 class="mb-1">Senior Design Project | Dr. David Britt and Fresenius Medical Care</h3>
                <h4 class="mb-1">January 2020 - May 2021</h4>
                <div class="px-4 mb-4">
                <ul>
                <li>Worked as a key member of a team developing a self-disinfecting surface to aid in bacterial load reduction in hemodialysis systems</li>
                <li>Completed an accompanying Honors Capstone project focused on Project Management
                    <ul>
                        <li>Led weekly team meetings</li>
                        <li>Led literature review meetings and organized sources</li>
                        <li>Managed project timeline</li>
                        <li>Communicated project status to stakeholders at Fresenius Medical Care</li>
                    </ul></li>
                <li>Project results can be seen <a href="{{ url_for('self_disinfecting') }}" style='font-size: 16px; color: #272F22; font-family: "Poppins", sans-serif; font-weight: 400; font-style: normal; text-decoration:underline'>here</a>.</li>
                </ul>
                </div>

                <h3 class="mb-1">Synthetic Biology Research Lab | Dr. Charles Miller</h3>
                <h4 class="mb-1">September 2015 - May 2016 | August 2018 - October 2019 </h4>
                <div class="px-4 mb-4">
                <ul>
                <li>Assisted in culturing and studying bacteria for bioplastics production</li>
                <li>Analyzed bacterial phenotypes, including measuring optical density and plotting growth curves</li>
                <li>Maintained stocks of antibiotic agar plates</li>
                </ul>
                </div>

                <h3 class="mb-1">Biomaterials Undergraduate Lab | Dr. Yu Huang</h3>
                <h4 class="mb-1">January 2019 - August 2019</h4>
                <div class="px-4 mb-4">
                <ul>
                <li>Led a team of students seeking to solubilize anti-inflammatory compounds through nanoparticle synthesis</li>
                <li>Used sonication and lyophilization to create and stabilize curcumin and indigoidine nanoparticles</li>
                </ul>
                </div>

            </div>
        </div>

        <div class="row mb-4" id="hobbies">
            <div class="col-12">
                <h2>Hobbies & Interests</h2>

                <div class="mb-4" id="crafts">
                    <h3 class="mb-1">Crafts</h3>
                        <p class="mb-2">I love pretty much any craft, but my great-grandma got me hooked on cardmaking. I also love knitting and cross stitch.</p>
                        <!-- Carousel wrapper -->
                    <div class="row">

                        <div class="col-3"></div>

                        <div class="col-6">

                            <div id="carousel" class="carousel slide">

                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                </div>

                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/fair_cards.PNG')}}" width="300" alt="Three Texas-themed greeting cards laying next to a blue Texas State Fair ribbon.">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Texas State Fair<br>September 2023</h5>
                                            </div>
                                        </div>
                                     </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <video class="img-fluid" autoplay loop muted width="300" style="filter: brightness(60%); align-self:center" title="An 'Everything's Bigger In Texas' card containing many classic Texas style elements">
                                                <source src="{{url_for('static', filename='assets/images/bigger_card.MOV')}}" type="video/mp4" />
                                            </video>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <video class="img-fluid" autoplay loop muted width="300" style="filter: brightness(60%); align-self:center" title="A Cactus card depicting two cacti and the phrases 'Cati + Cactyou = Cactus, We make a great pear'">
                                                <source src="{{url_for('static', filename='assets/images/cactus_card.MOV')}}" type="video/mp4" />
                                            </video>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <video class="img-fluid" autoplay loop muted width="300" style="filter: brightness(60%); align-self:center" title="A Texas food card containing a pop out depicting many famous Texas food items">
                                                <source src="{{url_for('static', filename='assets/images/food_card.MOV')}}" type="video/mp4" />
                                            </video>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <video class="img-fluid" autoplay loop muted width="300" style="filter: brightness(60%); align-self:center" title="An morbid birthday card depicting a headstone and the phrase 'Death has never been closer'">
                                                <source src="{{url_for('static', filename='assets/images/birthday_card.MOV')}}" type="video/mp4" />
                                            </video>
                                        </div>
                                    </div>
                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-3"></div>
                    </div>
                </div>

                <div class="mb-4" id="sourdough">
                    <h3 class="mb-1">Sourdough</h3>
                        <p class="mb-2">I adopted part of my uncle's sourdough starter and have been culturing it since mid-2022. Favorite recipes include sourdough loaves, pizza, and english muffins.</p>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-center align-content-center">
                            <img src="{{url_for('static', filename='assets/images/sourdough_loaves.jpeg')}}" alt="Three loaves of sourdough bread sitting on a kitchen counter" style="width:60%; align-self:center">
                        </div>
                    </div>
                </div>

                <div class="mb-4" id="travel">
                    <h3 class="mb-2">Travel</h3>
                    <div class="row">
                        <div class="col-12 text-center">
                            <div id="travelcarousel" class="carousel slide">

                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="9" aria-label="Slide 10"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="10" aria-label="Slide 11"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="11" aria-label="Slide 12"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="12" aria-label="Slide 13"></button>
                                    <button type="button" data-bs-target="#travelcarousel" data-bs-slide-to="13" aria-label="Slide 14"></button>
                                </div>

                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/NZ_mtcookbridge.jpg')}}" height="600" alt="A suspension bridge, with Mount Cook and a cloudy sky in the background">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Mount Cook<br>New Zealand, 2022</h5>
                                            </div>
                                        </div>
                                     </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/NZ_milfordflight.jpg')}}" height="600" alt="Sierra and Jesse standing in front of a small, yellow airplane">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Milford Sound<br>New Zealand, 2022</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/NZ_hobbiton.jpg')}}" height="600" alt="Bilbo Baggins' hobbit-hole in Hobbiton">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Hobbiton<br>New Zealand, 2022</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/NZ_llama.jpg')}}" height="600" alt="Sierra standing next to a white llama">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Rotorua<br>New Zealand, 2022</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/NZ_glenorchyhorses.jpg')}}" height="600" alt="Sierra and Jesse wearing helmets and sitting on horses with a small river and a range of mountains in the background">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Glenorchy<br>New Zealand, 2022</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/GB_towerbridge.jpg')}}" height="600" alt="Sierra and Jesse standing in front of the Thames river with Tower Bridge in the background">
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="box_textshadow">Tower Bridge<br>England, 2023</h5>
                                        </div>
                                     </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/GB_harrypotter.jpg')}}" height="600" alt="Sierra and Jesse standing in front of the Hogwarts Express">
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="box_textshadow">Harry Potter Studios<br>England, 2023</h5>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/GB_fishandchips.jpg')}}" height="600" alt="A plate of fish and chips sitting on a wooden table">
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="box_textshadow">Prince's Head Pub<br>England, 2023</h5>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/GB_lasso.jpg')}}" height="600" alt="Sierra and Jesse standing in front of the Prince's Head Pub, next to two red telephone booths (an iconic filming location from the TV Show Ted Lasso)">
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="box_textshadow">Richmond<br>England, 2023</h5>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/IE_cliffsofmoher.jpg')}}" height="600" alt="The beautiful, big, green Cliffs of Moher against a calm ocean">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Cliffs of Moher<br>Ireland, 2024</h5>
                                            </div>
                                        </div>
                                     </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/IE_giantscauseway.jpg')}}" height="600" alt="Sierra and Jesse standing in front of giant pillars of geometric lava rock at varying heights, composing the Giant's Causeway">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Giant's Causeway<br>Ireland, 2024</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/IE_Cahir.jpg')}}" height="600" alt="A large castle covered in green vines, surrounded by a calm river full of white geese">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Cahir<br>Ireland, 2024</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/IE_Kenmare.jpg')}}" height="600" alt="An old cemetery containing many old, broken headstones and a few new headstones, surrounded by tall, green grass and sprawling, purple flowers">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Kenmare<br>Ireland, 2024</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{url_for('static', filename='assets/images/IE_loughtay.jpg')}}" height="600" alt="Sierra, Jesse, and other family members standing in front of a large lake, surrounded by hills">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="box_textshadow">Lough Tay<br>Ireland, 2024</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#travelcarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#travelcarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-4" id="games">
                    <h3 class="mb-1">Strategy Games</h3>
                    <p>Favorites include Terraforming Mars, Wingspan, and Ark Nova.</p>
                </div>

                <div class="mb-4" id="other">
                    <h3 class="mb-1">Miscellaneous Interests</h3>
                    <p class="text-center">Survivor&ensp;|&ensp;Doctor Who&ensp;|&ensp;Cooking Competitions&ensp;|&ensp;Death Cab for Cutie&ensp;|&ensp;Bastille&ensp;|&ensp;80s Music<br>John Green&ensp;|&ensp;Annie Dillard&ensp;|&ensp;Stardew Valley&ensp;|&ensp;Theatre</p>
                </div>
            </div>
        </div>

        <div class="row mb-4" id="funfacts">
            <div class="col-12">
                <h2>Fun Facts</h2>
                <div class="px-3">
                    <ul class="mb-4">
                        <li>My husband is a mortician. I love the irony of being a life science professional married to a death science professional.</li>
                        <li>In middle school my family and I were on The Dog Whisperer. Cesar Milan is a great guy!</li>
                        <li>In high school I worked part-time as an assistant casting director, and even cast a body double for Scarlett Johansson.</li>
                        <li>I'm a State Fair enthusiast and love entering Fair craft competitions. Growing up, I won quite a few ribbons at the Orange Country Fair for cross stitch, clay sculpting, and cake decorating. In 2023, I won a blue ribbon at the Texas State Fair for greeting card making.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}
</body>