{% extends "base.html" %}

<!-- Page Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sierra Flores - About{% endblock %}</title>

    {% block styles %}
        .left-margin {
            background-color: #797A6D;
            opacity: 0.8;
        }

        .right-margin {
            background-color: #797A6D;
            opacity: 0.8;
        }

        body {
            background-color: #CFD6DE;
        }

        a {
            font-size: 17px;
            color: #CFD6DE;
            text-decoration: none;
            font-family: "Hedvig Letters Serif", serif;
            font-optical-sizing: auto;
            font-weight: 400;
        }

        #aboutbutton {
            {% include "button_format.txt" %}
        }

        h3 {
            color: #797A6D;
            font-size: 25px;
        }

    {% endblock %}

</head>
<body>

    {% block margin %}
    <div class="sticky-top col-12 mt-2 pt-4">
        <div class="row mb-2">
            <a href="#overview"  style="font-style: italic">Overview</a>
        </div>
        <div class="row mb-2">
            <a href="#education"  style="font-style: italic">Education</a>
        </div>
        <div class="row mb-2">
            <a href="#work"  style="font-style: italic">Work History</a>
        </div>
        <div class="row mb-2">
            <a href="#skills"  style="font-style: italic">Software & Skills</a>
        </div>
        <div class="row mb-2">
            <a href="#research"  style="font-style: italic">Undergraduate Research</a>
        </div>
        <div class="row mb-2">
            <a href="#hobbies"  style="font-style: italic">Hobbies & Interests</a>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <!-- Main Title -->
    <div class="col mx-5">
        <div class="row mb-4">
            <h1>About</h1>
        </div>

        <!-- Overview Section -->
        <div class="row mb-4" id="overview">
            <div class="col-7">
                <h2>Nice to meet you - I'm Sierra</h2>
                <p>I currently live in Dallas, Texas with my husband, Jesse.</p>
                <p>I've been working in biotech for over 5 years, and have done everything from benchtop research to building project and data management systems.</p>
                <p class="mb-1">My work preferences:</p>
                <p class="mb-1">Remote → Hybrid/Office in Dallas → Hybrid/Office Elsewhere*</p>
                <p class="mb-0" style="font-size:12px">*I'm available to relocate starting ~February 2025</p>
            </div>
            <div class="col-5 justify-content-center">
                <img src="{{url_for('static', filename='assets/images/jesse_and_sierra.jpeg')}}" class="img-fluid" alt="Jesse and Sierra on a bridge in front of the vibrantly blue Kawarau River." style="width:100%">
            </div>
        </div>

        <div class="row mb-4" id="education">
            <div class="col-12">
                <h2>Education</h2>
                <p>Placeholder text.</p>
            </div>
        </div>

        <div class="row mb-4" id="work">
            <div class="col-12">
                <h2>Work History</h2>
                <p>Placeholder text.</p>
            </div>
        </div>

        <div class="row mb-4 " id="skills">
            <div class="col-12">
                <h2>Software & Skills</h2>
                <div class="ps-2">
                    <h3>Project Management & Collaboration</h3>
                        <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-3 ps-3">
                        <ul class="mb-4">
                            <li>Smartsheet</li>
                            <li>Asana</li>
                            <li>LucidChart</li>
                            <li>Sharepoint</li>
                        </ul>
                        </div>
                        <div class="col-5 pe-0">
                        <ul class="mb-4">
                            <li>Technical Documentation</li>
                            <li>Agile Methodology</li>
                            <li>Design-Build-Test-Learn (DBTL) Cycle</li>
                            <li>Resource Allocation</li>
                        </ul>
                        </div>
                        <div class="col-4 pe-2">
                        <ul class="mb-4">
                            <li>Google Workspace</li>
                            <li>Microsoft Office</li>
                            <li>Microsoft Teams</li>
                            <li>Slack</li>
                        </ul>
                        </div>
                        </div>
                    <h3>Data Science & Scripting</h3>
                        <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-3 ps-3">
                        <ul class="mb-4">
                            <li>Git & Github</li>
                            <li>Basic R</li>
                            <li>Basic SQL</li>
                        </ul>
                        </div>
                        <div class="col-5 pe-0">
                        <ul class="mb-4">
                            <li>Python Scripting
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true" class="my-0"
                                   data-bs-original-title="APIs<br>Flask<br>BeautifulSoup<br>Selenium<br>SQLAlchemy<br>SQLite">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                            <li>Python Notebooks
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true"
                                   data-bs-original-title="Google Colab<br>Jupyter">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                            <li>Python for Data Analysis
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true"
                                   data-bs-original-title="Pandas<br>NumPy<br>Matplotlib<br>SciPy<br>Plotly<br>Scikit-learn<br>Seaborn">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                        </ul>
                        </div>
                        <div class="col-4 pe-2">
                        <ul class="mb-4">
                            <li>GraphPad Prism</li>
                            <li>JMP</li>
                            <li>Basic AWS</li>
                        </ul>
                        </div>
                        </div>
                    <h3>Lab & Instrumentation</h3>
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-3 ps-3">
                        <ul class="mb-4">
                            <li>Aseptic Technique</li>
                            <li>Microscopy</li>
                            <li>Genotyping</li>
                            <li>PCR</li>
                            <li>qPCR</li>
                            <li>Lyophilization</li>
                        </ul>
                        </div>
                        <div class="col-5 pe-0">
                        <ul class="mb-4">
                            <li>Assay Development & QC</li>
                            <li>DNA/RNA Extraction</li>
                            <li>DNA/RNA Quantification</li>
                            <li>Enzyme-Linked Immunoassays (ELISAs)</li>
                            <li>Electronic Lab Notebooks</li>
                            <li>Lab Information Management Systems</li>
                        </ul>
                        </div>
                        <div class="col-4 pe-2">
                        <ul class="mb-4">
                            <li>Bacterial Culture</li>
                            <li>Liquid Nitrogen Handling</li>
                            <li>Gel Electrophoresis</li>
                            <li>Library Preparation</li>
                            <li>Tecan Automation</li>
                            <li>Plant Germination and Growth</li>
                        </ul>
                        </div>
                        </div>
                    <h3>Other</h3>
                        <div class="d-flex flex-wrap justify-content-center">
                        <div class="col-3 ps-3">
                        <ul class="mb-4">
                            <li>ISO Compliance
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true" class="my-0"
                                   data-bs-original-title="ISO 13485<br>ISO 9001">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span></li>
                        </ul>
                        </div>
                        <div class="col-5 pe-0">
                        <ul class="mb-4">
                            <li>Web Development
                                <span data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-html="true" class="my-0"
                                   data-bs-original-title="HTML<br>CSS<br>Basic JavaScript">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png" style="width:13px" alt="Question mark symbol">
                                </span>
                                <a href="{{ url_for('info') }}" style='font-size: 16px; color: #272F22; font-family: "Poppins", sans-serif; font-weight: 400; font-style: normal; text-decoration:underline'>(About this website)</a>
                            </li>
                        </ul>
                        </div>
                        <div class="col-4 pe-2">
                        <ul class="mb-4">
                            <li>SolidWorks</li>
                        </ul>
                        </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="row mb-4" id="research">
            <div class="col-12">
                <h2>Undergraduate Research</h2>
                <p>Placeholder text.</p>
            </div>
        </div>

        <div class="row mb-4" id="hobbies">
            <div class="col-12">
                <h2>Hobbies & Interests</h2>
                <p>Placeholder text.</p>
            </div>
        </div>

    </div>
    {% endblock %}
</body>