{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}

<!-- Page Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sierra Flores - Confidence Systems{% endblock %}</title>

    {% block styles %}
    .left-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    .right-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    body {
        background-color: #CFD6DE
    }

    #projectsbutton {
        {% include "button_format.txt" %}
    }

    {% endblock %}

</head>
<body>
    {% block content %}
    <div class="col mx-5">
        <div class="row mb-1">
            <h1>Confidence Systems, Process Engineer Qualifications</h1>
        </div>
        <div class="row mb-4">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRAu3nexRAYngR050jdNOk3HaiPZ14ALMvvxRt4DxDYnCb0trTu3aRtkrF_Iy59P1wjX3_K14qGE2Yn/embed?start=true&loop=true&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
    {% endblock %}
</body>