<div class="container m-0 mw-100" id="mainFoot" style="">
    <footer class="justify-content-center align-content-center py-2 px-5">
        <div class="row py-2">
            <div class="col ms-4 px-5 footer-col">
                <a href="{{ url_for('home') }}" style="color:#797A6D; font-size:15px; float:right" class="mb-0 footer-link">Go Home</a>
            </div>

            <div class="col-3 px-3 footer-col text-center" style="border-left:1mm solid #797A6D; border-right:1mm solid #797A6D">
                <p style="color:#797A6D; font-size:15px;" class="mb-0 pb-0 text-center">{{ now }} © Copyright Sierra Flores</p>
                <a href="{{ url_for('info') }}" style="color:#797A6D; font-size:12px; float:center" class="footer-link">About this website</a>
            </div>

            <div class="col me-4 px-5 footer-col">
                <a href="{{ url_for('contact') }}" style="color:#797A6D; font-size:15px" class="mb-0 text-start footer-link">Contact Me</a>
            </div>
        </div>
    </footer>
</div>