<nav class="navbar container m-0 mw-100 justify-content-end" id="mainNav" style="">
    <header class="d-flex flex-wrap justify-content-center py-3">

      <ul class="nav nav-pills me-4">
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link button" aria-current="page" id="homebutton">Home</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link button" id="aboutbutton" onclick="AboutNav();">About</a></li>
        <li class="nav-item"><a href="{{ url_for('projects') }}" class="nav-link button" id="projectsbutton">Projects</a></li>
        <li class="nav-item"><a href="{{ url_for('news') }}" class="nav-link button" id="newsbutton">Newsfeed</a></li>
        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link button" id="contactbutton">Contact</a></li>
      </ul>
    </header>
</nav>