{% extends "base.html" %}

<!-- Page Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sierra Flores - Home{% endblock %}</title>

    {% block styles %}

        p {
            font-size: 19px;
            color: #272F22;
        }

        body {
             background-image: url('../static/assets/images/main_bg.jpg') !important;
             background-size: cover;
            }

        h1 {
            color: #CFD6DE;
        }

        h2 {
            font-size:23px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #9BA473;
        }

        h4 {
            color: #272F22;
        }

        #homebutton {
            {% include "button_format.txt" %}
        }

    {% endblock %}

</head>
<body>

    {% block content %}
    <h1 class="offleft">The body of this page displays an image of a path through tall grass, with Mount Cook, on the South Island of New Zealand, visible in the background.</h1>
<!-- Name Card -->
    <div class="container mt-5 mb-4 mx-5 py-4" id="name-card">
        <div class="row py-2 px-4 d-flex row-cols-xs-1 row-cols-2">
            <div class="col-4 col-xs-12 px-4 py-2" id="pic-column">
                <img src="{{url_for('static', filename='assets/images/Headshot.png')}}" class="img-fluid" alt="A close-up portrait of Sierra Flores.">
            </div>
            <div class="col-8 col-xs-12 p-0" id="summary-column">
                <div class="row"><h1>Hi, I'm Sierra Flores</h1></div>
                <div class="row pb-3"><h2>Process Engineer | Biological Engineer</h2></div>
                <div class="row"><p>As a Biological Engineer (EIT), my work has been focused on operations scale-up, project and data management, and assay development.</p></div>
                <div class="row"><p>I'm a startup and tech enthusiast.</p></div>
            </div>
        </div>
        <div class="row px-0 mt-3 pb-2 mx-4 mw-50 justify-content-center" id="namecard-links">
            <div class="col-3 d-flex flex-wrap justify-content-center">
                <a class="card-link" href="https://www.linkedin.com/in/sierra-flores/"><em>LinkedIn Profile</em></a>
            </div>
            <div class="col-3 d-flex flex-wrap justify-content-center">
                <a class="card-link" href="https://github.com/sierranf97"><em>GitHub Profile</em></a>
            </div>
            <div class="col-3 d-flex flex-wrap justify-content-center">
                <a class="card-link" href="{{url_for('static', filename='/assets/Flores_Sierra_Resume.pdf')}}" download><em>Download Resume</em></a>
            </div>
            <div class="col-3 d-flex flex-wrap justify-content-center">
                <a class="card-link" href="{{url_for('static', filename='/assets/Flores_Sierra_Resume.pdf')}}" target='_blank'><em>Open Resume</em></a>
            </div>
        </div>
    </div>

<!-- Subpage Intros -->
    <div class="row g-4 my-3 py-3 px-0 mw-100 d-flex flex-wrap justify-content-center container-fluid no-gutters" id="subpage-intros">
        <div class="feature col mw-100">
        <a href="{{ url_for('about') }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill=#272F22 class="intro-icon bi-justify-left my-3" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
              </svg>
        <div class="row col-12 py-0 float-start  mw-100">
            <h3>About</h3>
        </div>
        <div class="row col-12 py-0 float-start  mw-100">
            <p>Education, experience, and personal history.</p>
        </div>
        </a>
        </div>

        <div class="feature col mw-100 ms-3">
        <a href="{{ url_for('projects') }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill=#272F22 class="intro-icon bi-justify-left my-3" viewBox="0 0 16 16">
                <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5 5 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334"/>
              </svg>
        <div class="row col-12 py-0 float-start  mw-100">
            <h3>Projects</h3>
        </div>
        <div class="row col-12 py-0 float-start  mw-100">
            <p>Completed and in-progress projects.</p>
        </div>
        </a>
        </div>

        <div class="feature col mw-100 mx-3">
        <a href="{{ url_for('news') }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill=#272F22 class="intro-icon bi-justify-left my-3" viewBox="0 0 16 16">
                <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
                <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
              </svg>
        <div class="row col-12 py-0 float-start  mw-100">
            <h3>Newsfeed</h3>
        </div>
        <div class="row col-12 py-0 float-start  mw-100">
            <p>Papers, achievements, and recent events.</p>
        </div>
        </a>
        </div>

        <div class="feature col mw-100">
        <a href="{{ url_for('contact') }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill=#272F22 class="intro-icon bi-justify-left my-3" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
              </svg>
        <div class="row col-12 py-0 float-start  mw-100">
            <h3>Contact</h3>
        </div>
        <div class="row col-12 py-0 float-start  mw-100">
            <p>Send me a message or email.</p>
        </div>
        </a>
        </div>
    </div>

    <div class="container mx-5 py-4">
        <div class="row d-flex row-cols-xs-1 row-cols-2">
            <div class="col-2"></div>
            <div class="col-8 col-xs-12 py-4 px-4 text-center my-4" id="call-to-action">
                <div class="row"><h4>I'm currently open to remote or Boston-based roles.</h4></div>
                <div class="row"><h4>If you'd like to connect, you can message me through <a href="https://www.linkedin.com/in/sierra-flores/" class="recruiter-contact">LinkedIn</a> or reach out to me <a href="{{ url_for('contact') }}" class="recruiter-contact">here</a>.</h4></div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    {% endblock %}
</body>