{% extends "base.html" %}

<!-- Page Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sierra Flores - Message Sent{% endblock %}</title>

    {% block styles %}
    .left-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    .right-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    body {
        background-color: #CFD6DE
    }

    {% endblock %}

</head>
<body>
    {% block content %}
    <div class="row">
        <div class="col-12 px-0">
            <h1>Your message was successfully sent!</h1>
        </div>
    </div>
    {% endblock %}
</body>