{% extends "base.html" %}

<!-- Page Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sierra Flores - Newsfeed{% endblock %}</title>

    {% block styles %}
    .left-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    .right-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    body {
        background-color: #CFD6DE
    }

    #newsbutton {
        {% include "button_format.txt" %}
    }

    h3 {
        color: #797A6D;
        font-size: 25px;
    }

    {% endblock %}

</head>
<body>
    {% block content %}
        {% for post in all_posts %}
        <div class="col-9">
            <div class="row mx-4 post-preview">
                {% if post.post_type == "Post": %}
                    <a href="{{ url_for('show_post', post_id=post.id) }}">
                      <h2 class="post-title">{{ post.title }}</h2>
                      <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    </a>
                    <p class="post-meta">
                      Posted on {{post.date}}
                    </p>
                {% else: %}
                    <div class="col-3">
                        <img src="{{ post.img_url }}" alt="{{ post.img_alt }}" width="100%">
                    </div>
                    <div class="col-9">
                        <a href="{{ url_for('show_post', post_id=post.id) }}">
                          <h2 class="post-title">{{ post.title }}</h2>
                          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        </a>
                        <p class="post-meta">
                          Posted on {{post.date}}
                        </p>
                    </div>
                {% endif %}
            </div>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
        {% endfor %}
    {% endblock %}
</body>