{% extends "base.html" %}

<!-- Page Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sierra Flores - {{post.title}}{% endblock %}</title>

    {% block styles %}
    .left-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    .right-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    body {
        background-color: #CFD6DE
    }

    #newsbutton {
        {% include "button_format.txt" %}
    }

    {% endblock %}

</head>
<body>
    {% block content %}
        <div class="col-12">
            {% if post.post_type == "Post": %}
                <div class="py-4 px-3" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('{{post.img_url}}')" title="{{post.img_alt}}">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <h2 class="post-subtitle">{{ post.subtitle }}</h2>
                </div>
                <div class="my-4 px-3 mx-4">
                    {{ post.body|safe }}
                </div>
            {% else: %}
                <div class="py-4 px-3 mx-4">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ post.img_url }}" alt="{{ post.img_alt }}" width="100%">
                        </div>
                        <div class="col-10">
                            <h1 class="post-title">{{ post.title }}</h1>
                            <h2 class="post-subtitle">{{ post.subtitle }}</h2>
                        </div>
                    </div>
                </div>
                <div class="my-4 px-3 mx-4">
                    {{ post.body|safe }}
                </div>
            {% endif %}
        </div>
    {% endblock %}
</body>