{% extends "base.html" %}

<!-- Page Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sierra Flores - Projects{% endblock %}</title>

    {% block styles %}
    .left-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    .right-margin {
        background-color: #797A6D;
        opacity: 0.8;
    }

    body {
        background-color: #CFD6DE
    }

    a {
        font-size:16px
    }

    #projectsbutton {
        {% include "button_format.txt" %}
    }

    {% endblock %}

</head>
<body>
    {% block content %}
    <!-- Main Title -->
    <div class="col mx-5">
        <div class="row mb-4">
            <h1>Projects</h1>
        </div>

        <div class="row mb-4" id="pm">
            <div class="col-12">
                <h2>Project Management</h2>
                <ul>
                    <li><a href="{{ url_for('smartsheet') }}" class="card-link"><b>Smartsheet</b></a> (May 2024): A demo of how I've used Smartsheet to organize and communicate project tasks.</li>
                </ul>
            </div>
        </div>

        <div class="row mb-4" id="data">
            <div class="col-12">
                <h2>Research/Data</h2>
                <ul>
                    <li><a href="{{ url_for('self_disinfecting') }}" class="card-link"><b>Senior Design Project</b></a> (April 2021): Application of a Self-Disinfecting Surface for Hemodialysis, posters and presentation.</li>
                    <li><a href="{{ url_for('ELISA') }}" class="card-link"><b>ELISA Development</b></a> (May 2021): A presentation summarizing the development and validation of multiplexed Enzyme-Linked Immunosorbent Assays. Work completed between February 2019 and May 2021. Presentation created October 2024.</li>
                </ul>
            </div>
        </div>

        <div class="row mb-4" id="programming">
            <div class="col-12">
                <h2>Programming</h2>
                <ul>
                    <li><a href="{{ url_for('soundtrack') }}" class="card-link"><b>My Soundtrack</b></a> (July 2024): A card game where players submit songs they think best match a round's theme. To allow users to hear a preview of the songs in their hand of cards, I developed an app that interfaces with the Spotify developer API and returns a song preview.</li>
                </ul>
            </div>
        </div>
    </div>

    {% endblock %}
</body>